.rows-list {
    width: 95%;
    min-height: 100px;
    max-height: 250px;
    overflow-y: auto;
    color: #fff;
}

.rows-list::-webkit-scrollbar {
    width: 8px;
}

.rows-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #66696e;
}

.rows-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #33363b;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}