.section {
    display: flex;
    border-bottom: 1px solid rgb(159, 160, 166);
}

.section__alignment {
    flex: 0 0 13%;
    border-right: 1px solid rgb(159, 160, 166);
    background-color: rgb(83, 85, 94);
}