.entity {
    position: relative;
    display: inline-block;
    flex: 0 1 87%;
    background-color: rgb(64, 67, 74);
    color: #fff;
}

.entity__content {
    display: flex;
    min-height: 30px;
    justify-content: flex-start;
    align-items: center;
}

.entity__icon {
    width: 15px;
    margin: 13px 7px;
    font-size: 10px;
}

.entity__title, 
.entity__selected-items {
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.entity__title {
    margin-left: -7px;
}

.entity__selected-items {
    display: inline-block;
    width: 130px;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(110, 164, 201);
}

.entity__popup {
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 20px;
    width: 200px;
    border: 1px solid rgb(159, 160, 166);
    border-top: 5px solid rgb(30, 125, 216);
    background-color: rgb(64, 67, 76);
}