.toggle {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 10px;
}

.toggle__checkbox {
    display: none;
}

.toggle__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.toggle__slider:before {
    position: absolute;
    content: "";
    padding: 7px;
    bottom: -5px;
    left: 0px;
    border: 3px solid #40434a;
    background-color: #ffffff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.toggle__checkbox:focus + .toggle__slider {
    box-shadow: 0 0 1px #40434a;
}

.toggle__checkbox:checked + .toggle__slider:before {
    background-color: aquamarine;
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.toggle__slider_round {
    border-radius: 34px;
}

.toggle__slider:before {
    border-radius: 50%;
}