.list-item {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.list-item__checkbox {
    margin-top: 0;
    margin-bottom: 0;
}