.button {
    padding: 0 7px;
    line-height: 20px;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(51,54,59);
    color: white;
}

.button_enabled {
    background-color: gray;
}