.header {
    position: relative;
    border-top: 5px solid rgb(30, 125, 216);
    border-bottom: 1px solid rgb(30, 125, 216);
    background-color: rgb(64, 67, 76);
}

.header__text,
.header__drag-icon,
.header__close-icon {
    margin: 15px;
}

.header__text {
    margin-left: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: "Lato", Verdana, sans-serif;
}

.header__drag-icon,
.header__close-icon {
    color: rgb(159, 160, 166);
}

.header__drag-icon {
    transform: rotate(90deg);    
    cursor: move;
}

.header__close-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
}